@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
    
    .nav{
        @apply
        relative
        md:text-lg
    }
    .nav::after{
        @apply content-[''] bg-white h-[2px] w-[0%]
        left-0 -bottom-[5px] absolute duration-200 rounded-xl
    }

    .nav:hover::after{
        @apply w-[100%]
    }
    .button{
        @apply 
        cursor-pointer 
        bg-blue-400 
        hover:bg-blue-500
        hover:duration-500
        font-bold 
        px-4 
        py-2 
        rounded-md 
        w-fit
    }
}
.color{
    @apply 
    text-white
    
}